- name: App setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: Python Setup  
  ansible.builtin.import_role:
    name: common
    tasks_from: python-setup.yaml

- name: "{{ component }} installation"
  ansible.builtin.import_role: 
    name: common    
    tasks_from: system-setup.yaml

- name: start the service
  ansible.builtin.service:
    name: "{{ component }}"
    state: started
    enabled: yes
  register: service_start

- name: Wait for service to stabilize
  ansible.builtin.pause:
    seconds: 3
  when: service_start.changed