- name: install maven
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
  - maven
  - mysql

- name: install dependencies
  ansible.builtin.command: mvn clean package
  args:
    chdir: /app

- name: rename {{ component }}.jar
  ansible.builtin.command: mv /app/target/{{ component }}-1.0.jar /app/{{ component }}.jar

